################################
# 🦎 PERIPHERY CONFIG 🦎 #
################################

# General server settings
port = {{periphery_port}}
{#-- Only add root_dir for Komodo >= v1.17.2 --#}
{% if (_komodo_version | regex_replace('^v', '')) is version('1.17.2', '>=') %}
{{''}}
root_dir = "{{ root_dir }}"
{% endif %}

repo_dir = "{{ repo_dir }}"
stack_dir = "{{ stack_dir }}"
build_dir = "{{ build_dir }}"
stats_polling_rate = "{{ stacks_polling_rate }}"

{#-- Only add bind_ip for Komodo >= v1.17.1 --#}
{% if (_komodo_version | regex_replace('^v', '')) is version('1.17.1', '>=') %}
{{''}}
bind_ip = "{{ komodo_bind_ip }}"
{% endif %}

# Docker CLI options
legacy_compose_cli = false

###########
# Security #
###########

ssl_enabled = {{ssl_enabled | lower}}

allowed_ips = {{komodo_allowed_ips}}

{% if allowed_passkeys %}
passkeys = {{ allowed_passkeys }}
{% endif %}

###########
# Logging #
###########

logging.level = "{{logging_level}}"
logging.stdio = "{{logging_stdio}}"
logging.opentelemetry_service_name = "{{logging_opentelemetry_service_name}}"

###########
# SECRETS #
###########

## Provide periphery-based secrets
{% if komodo_agent_secrets | length > 0 %}
[secrets]
{% for secret in komodo_agent_secrets %}

{{ secret.name }} = "{{ secret.value }}"
{% endfor %}
{% endif %}